#questions-row {
    min-height: 65%;
    h1 {
        font-size: 46px;
        font-weight: bold;
        color: #e3e3e3;
    }
}
#stepper{
    direction: ltr;
}
#Qustions-footer{
    min-height: 35%;
}